* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    margin-left: 0px;
    margin-right: 0px;
}

window#waybar {
    background: rgba(255, 209, 220, 0.9);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 0px;
    color: #313244;
    margin-right: 12px;
    margin-left: 12px;
}

#workspaces button.active {
    color: white;
}

#workspaces button.focused {
    color: white;
    background: #eba0ac;
    border-radius: 10px; margin: 0px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-logo {
  color: black;
  margin-left: 16px;
  margin-right: 16px;
}
#window {
    font-size: 8px;
    color: #f38ba8;
}
#clock,
#battery,
#pulseaudio,
#network {
    color: black;
    border-left: 0px;
    border-right: 0px;
    padding: 0px 8px;
}

#workspaces {
    border-radius: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
#tray,
#backlight {
    background: #1e1e2e;
    padding:4px 4px;
    margin: 3px 3px;
    margin-top: 4px;
    border: 1px solid #181825;
}

#tray {
    border-radius: 8px;
    margin-right: 0px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;;
}

#window {
    border-radius: 5px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: black;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 8px;
    border-right: 0px;
}

#network {
    color: black;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: black;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0 0 10px;
    padding: 0px 8px;
}

#cpu {
  color: black;
}

#memory {
  color: black;
}


#pulseaudio.microphone {
    color: #cba6f7;
    margin-right: 0px;
    border-radius: 0 10px 10px 0;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    color: black;
}
